* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
  padding: 6.4rem;
  background-color: #dee2e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quiz {
  margin: 3.2rem 0;
  text-align: center;
  width: 65rem;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  margin-bottom: 2.4rem;
}

::-webkit-progress-inner-element {
  border: 2px solid black;
  height: 2.4rem;
  
}
::-webkit-progress-bar {
  background-color: orange;
  
}
::-webkit-progress-value {
  background-color: red;
  
}

.header-secondary {
  font-size: 4.4rem;
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
}

.description {
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
  
}

.center {
  text-align: center;
}

.btn {
  all: unset;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  background-color: #adb5bd;
  padding: 1.2rem 3.2rem;
  border-radius: 100rem;
  text-align: center;
  margin-top: 2.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:not[disabled]:hover {
  background-color: #495057;
  color: #fff;
  border: 2px solid #adb5bd;
  
}

.btn:not[disabled]:active {
  transform: translateY(2px);

}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.option-container {
  display: flex;
  flex-direction: column;
}